<%- include ('partials/header') %>
<%- include ('partials/navbar') %>

<div class="container mt-5 d-flex flex-column align-items-center gap-4" style="overflow-x: hidden;">
    <h4 class="text-dark" style="font-weight: lighter ;">Prepare-se para um evento inesquecível com a <br><center> Geração Eleita!</center></h4>
    
   
    <div class="card border-0 shadow" style="width: 100%; max-width: 500px;">
        <img src="/img/paisagem.jpeg" class="card-img-top img-fluid" style="width: 100%; height: auto; object-fit: cover;" alt="Evento 2025">
        <div class="card-body d-flex flex-column align-items-center">
            <p class="fs-4 text-center">Geração Eleita - Acampamento 2025</p>
            <a href="/inscrever" role="button" class="btn rounded-0 fw-bold w-100 mt-3" style="background-color: #070604; color: white;">Realize sua inscrição aqui</a>                    
        </div>
    </div>
</div>

<%- include ('partials/footer') %>

