<body class="bg-dark w-100 h-100">
    <%- include ('partials/header') %>
    <form action="/login" method="post" >
        <section class="vh-100 gradient-custom" >
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5" >
                  <div class="card bg-dark text-white " style="border: 0;" >
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5" >
          
                        <h1 class="fw-bold mb-2 text-uppercase text-warning">Login</h1>
                        <h5 class="mb-0">Acesso Restrito aos administradores do sistema. </h5>
                        <br>
          
                        <div class="form-outline form-white mb-4">
                          <input type="text" id="typeEmailX" name="login" class="form-control form-control-lg" placeholder="Login" required />                      
                        </div>                       
          
                        <div class="form-outline form-white mb-4">
                          <input type="password" id="typePasswordX"  name="senha" class="form-control form-control-lg" placeholder="Senha" required />                      
                        </div>
                        <p class="text-white-50 mb-5">Informe seu usuário e a senha!</p>
                        <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
          
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">ENTRAR</button>                            
                      </div>
          
                      <div>
                        
                        <p class="mb-0">Deseja voltar a tela inicial? <a href="/" class="text-info fw-bold" style="text-transform: uppercase;">clique Aqui!</a> </p>
                        <!-- <p class="mb-0">Não possuí uma conta? <a href="#!" class="text-white-50 fw-bold">Cadastre Aqui!</a></p> -->
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </form>

    <%- include ('partials/footer') %>
</body>