<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

    <div class="container mt-5"> 
        <div class="card">
            <div class="card-header bg-dark text-light">Link de pagamento</div>
            <div class="card-body">
                <p class="btn-success p-1"> Sua Inscrição foi gerada de forma gratuita!</p>                
                <p class="bg-danger text-light fs-3 p-1">Atenção!!! <br>A matrícula será confirmada somente se o cupom for válido para sua inscrição.<br>
                    Qualquer dúvida entrar em contato através deste telefone <br> (32) 98845-5607 </p>
                
                <a href="/" class="btn btn-success float-right">Página principal</a>
            </div>
        </div>
    </div>

<%- include ('../partials/footer') %>