<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

    <div class="container mt-5"> 
        <div class="card">
            <div class="card-header bg-dark text-light">Link de pagamento</div>
            <div class="card-body">
                <p>Foi gerado um link de pagamento, Realize o pagamento clicando no link abaixo:</p>
                <p>Assim que o seu pagamento for confirmado, enviaremos um e-mail com as demais informações.</p>
                <p class="bg-danger text-light fs-3 p-1">Atenção!!! <br>A matrícula será confirmada somente a após a confirmação do pagamento! </p>
                <p class="bg-warning p-1" style="text-align: center; font-weight: bolder;">Qualquer dúvida entrar em contato através deste telefone <br> (32) 98845-5607 </p>
                <a href="<%= linkPagamento %>" class="btn btn-success float-right">Link de Pagamento</a>
            </div>
        </div>
    </div>

<%- include ('../partials/footer') %>